<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CiC App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>95</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
				<key>dateExpires</key>
				<string>19/10/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>add_2_calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_tracking_transparency.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>integration_test.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>notification_permissions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_filex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sms_autofill.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>syncfusion_flutter_pdfviewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>600689784D71BFF4FED9082458B95B399DDB8CB6</string>
						<key>dateExpires</key>
						<string>19/10/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QM7PGJ7HM4</string>
						<key>name</key>
						<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QM7PGJ7HM4.com.cambodianinvestorscorporation</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cicapp.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>QM7PGJ7HM4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ce430d61-4faf-4b43-87a4-04453ec2f2b6</string>
				<key>dateExpires</key>
				<string>19/10/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.cambodianinvestorscorporation</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QM7PGJ7HM4</string>
				<key>name</key>
				<string>CAMBODIAN INVESTORS CORPORATION PLC</string>
			</dict>
			<key>versionNumber</key>
			<string>2.3.1</string>
		</dict>
	</array>
</dict>
</plist>
