<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869790654900-tj5up9p7s271va5o2u4p5rdjoap79ufd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869790654900-tj5up9p7s271va5o2u4p5rdjoap79ufd</string>
	<key>API_KEY</key>
	<string>AIzaSyDju-NfsIzW3-0Qjtewq-89cILVNtzcixs</string>
	<key>GCM_SENDER_ID</key>
	<string>869790654900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pocketPlanner</string>
	<key>PROJECT_ID</key>
	<string>pocketplanpro</string>
	<key>STORAGE_BUCKET</key>
	<string>pocketplanpro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869790654900:ios:56e8dc3409417ea10352e1</string>
</dict>
</plist>